<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

>

    <!--ioc-->
    <bean id="outputService" class="com.wl.OutputServiceImpl">
    </bean>

    <bean id="helloWorldService" class="com.wl.HelloWorldServiceImpl">
        <property name="text" value="Hello World!"></property>
        <property name="outputService" ref="outputService"></property>
    </bean>

    <!--aop-->
    <bean id="timeInterceptor" class="com.wl.aop.TimerInterceptor"></bean>

    <bean id="autoProxyCreator" class="com.wl.aop.parseProxy.AspectJAwareAdvisorAutoProxyCreator"></bean>

    <bean id="aspectjAspect" class="com.wl.aop.advicePointcutExpression.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="timeInterceptor"></property>
        <property name="expression" value="execution(* com.wl.*.*(..))"></property>
    </bean>
</beans>