<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

>

    <bean id="outputService" class="com.wl.OutputServiceImpl">
    </bean>

    <bean id="helloWorldService" class="com.wl.HelloWorldServiceImpl">
        <property name="text" value="Hello World!"></property>
        <property name="outputService" ref="outputService"></property>
    </bean>


</beans>